**/.DS_Store
.env
.env.production
tmp/
**/tmp

server/data/*
caddy/data/
server/music/youtube
discord-jockey/vendor
discord-jockey/.bundle
discord-jockey/sorbet
todo.md

node_modules

.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

.DS_Store
Thumbs.db

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
