# create a .env file with the empty values populated
HOST="0.0.0.0"
PORT=12625 # must match the docker compose server port
DB_PATH="/server/data/db.sqlite" # must match the docker compose volume path
MUSIC_PATH="/server/music" # must match the docker compose volume path
ICECAST_SERVER_HOST="icecast"
ICECAST_SERVER_PORT=9999
ICECAST_SERVER_PASSWORD= # must match ICECAST_SOURCE_PASSWORD in icecast/.env
STREAM_BASE_URL=https://localhost:9999 # public-facing base URL for stream links
