HOST="0.0.0.0"
PORT=12625
DB_PATH="/server/data/db.sqlite"
MUSIC_PATH="/server/music"
ICECAST_SERVER_HOST="icecast"
ICECAST_SERVER_PORT=9999
ICECAST_SERVER_PASSWORD=
STREAM_BASE_URL=https://localhost:9999
PUBLIC_PASETO_KEY=...
PRIVATE_PASETO_KEY=...
MAX_SESSIONS=50
RATE_LIMIT_RPS=1
RATE_LIMIT_BURST=5
